.content-wrapper {
  margin: 10px 10px;
  text-align: left;
  width: inherit;
}

.mw-parser-output {
  overflow: auto;
  overflow-y: hidden;
}

p {
  margin-top: 10px;
}

.infobox {
  border: 5px solid black;
  border-color: #bbbbbb;
  padding-left: 5px;
  padding-right: 5px;
}

.infobox img {
  margin-left: auto;
  margin-right: auto;
}
